.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  margin: 0 auto;
  font-size: 18px;
  max-width: 800px;
  min-width: 400px;
  color: grey;
}

h2,
h3,
b {
  color: black;
  margin-top: 5%;
  padding-top: 0;
}

a {
  color: black;
}

i {
  font-size: 14px;
}

h1,
.contact {
  text-align: right;
  margin: 0;
}

h1 {}

.edu {
  margin: 5%;
  float: left;
}

.expert,
.int {
  margin: 30px, 0;
  padding: auto;
  text-align: right;

}

.exp {
  margin-top: 15px;
}




.exp {
  margin: 20px;

}
